body {
  background-color: #f0f0f5;
}

img {
  float: left;
  width: 45%;
  height: auto;
  margin-right: 30px;
  padding: 30px;
}

h1 {
  color: blue;
  text-align: right;
  letter-spacing: 10px;
  font-family: American Typewriter;
  font-style: oblique;
}

h2 {
  color: #802000;
  font-family: fantasy;
  text-align: center;
}

h3 {
  color: white;
  font-family: helvetica;
}

p {
  font-family: georgia;
}

ol, ul {
  line-height: 30px;
}

.box {
  margin: 12px;
  border: 4px solid white;
  padding: 4px;
  background-color: gray;
}

.column {
  width: 350px;
  float: left;
  margin: 12px;
  border: 4px solid white;
  background-color: blue;
  padding: 12px;
}

.column p {
  color: white;
  font-family: Skia;
}

.gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
